<h1>Merchant <%= @merchant.name %> Discounts</h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id="bulk_discount-<%= discount.id%>" >
    <p>Bulk Discount is <%= discount.percentage_discount %>% off <%= discount.quantity_treshold %> items</p>

    <%= link_to "Discount Details", merchant_bulk_discounts_path(@merchant.id, discount.id) %>
  </div>
<% end %>

<h3><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant.id) %></h3>